
$minHeight: 100vh;

$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 3rem;
$spacing-xl: 4rem;

$space-24: 1.5rem;

$border-width: 2px;
$border-radius: 24px;

$font-xs: 0.5rem;
$font-sm: 1rem;
$font-md: 1.25rem;
$font-lg: 2rem;

$small: 4px;
$medium: 8px;
$large: 12px;
$xl: 16px;

$green: #2dce89;
$red: #fd5d93;
$blue: #1d8cf8;
$pink: #e14eca;

$background-solid: #202252;
$grey-text: #6a737b;

$border-color: #2b3553;

$screen-shrink: 1000px;
$screen-large: 1280px;
$screen-medium: 960px;
$screen-small: 600px;
$screen-extra-small: 400px;

$navbar-height: 76px;